@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container-top {
  background-color: #222222;
  color: #f3f3f3;
  font-weight: 400;
}

.header-lista {
  list-style: none;
}

.header-container-bottom {
  background-color: #f0a83e;
}

.logo-base {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.44px;
  color: #ffffff;
}

.logo-first {
  color: #3c2313;
}

.nav-links {
  list-style: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 13px;
}

.comedesc1 {
  color: #3C2313;
  font-family: 'Roboto', sans-serif, serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.16px;
  text-align: center;
}

.comedesc2 {
  color: #3C2313;
  font-family: 'Roboto', sans-serif, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: center;
}

.comedesc3 {
  color: white;
  text-align: center
}

div {
  background-color: white;
  background-image: url('../IMG/bowl-and-pet-daities-on-green-background\ 1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: scroll;
  height: 100vh;
  
}

h1 {
color:#3C2313;
font-family: 'Roboto', sans-serif, serif;
font-style: Bold;
font-size: 40px;
font-weight: 700;
line-height: 46.88px;
}

main, section, span {
color:#666666;
}

.juguetes{
  background-color: #fbfaf6 ;
}

.juguete {
color: #3C2313;
font-size: 'Roboto', sans-serif, serif;
font-weight: 500;
font-size: 15px;
line-height: 17.58px;
}

.precio {
color: #f0a83e;
font-style: 'Roboto', sans-serif, serif;
font-weight: 500px;
size: 15px;
line-height: 17.58px;
}

footer {
background-color: #3C2313;

}
.contacto1 {
color: #ffffff;
font-family: 'Roboto', sans-serif, serif;
font-size: 20px;
font-weight: 700;
line-height: 23.44px;
}

.contacto2 {
color: #8A8787;
font-family: Roboto;
font-size: 10px;
font-weight: 700;
line-height: 12px;
}

.footer-front{
color: #ffffff;
font-family: Roboto;
font-size: 20px;
font-weight: 700;
line-height: 23px;
}

.footer-catdog {
color: #f0a83e;
}